// Sitewide Colors

$ctaColor: #150e33;
$ctaBg: white;
$ctaColorHover: white;
$ctaBgHover: black;
$ctaBorder:pink;
// Header Colors

$hedColor: #150e33;
$hedBg: #fff;
$hedIcon: #2B114A;
$hedFill: pink;
$hedLink: #150e33;
$hedLinkHover: pink;

// Marquee Colors

$marqBgM: linear-gradient(to right, rgba(#2B114A, 1) 0, rgba(#150e33,1) 100%);
$marqBg: linear-gradient(to right, rgba(#2B114A, .9) 0, rgba(#150e33,0) 100%);
$marqHed: pink;
$marqColor: white;
$marqLink: pink;
$marqLinkHover: white;

// Form Colors

$marqInput: #150e33;
$marqInputBg: white;
$marqLabel: pink;
$marqInputBorder:pink; 

// Footer Colors
$footColor:pink;
$footBg: black;
$footLink: white;
$footLinkHover: #150e33;